.border{
    background-image: url(./bg3.jpeg);
    
    border: 6px solid blue;
    padding: 40px;
    width: 900px;
    height: 1090px;
  }
.oval{
border-radius: 50px;
background-color: black;
border: 5px solid red;
padding: 30px;
width: 260px;
height: 70px;
position: relative;
bottom: 2%;

}
.oval i{
   font-size: X-large;
}
.oval1{
border-radius: 50px;
background-color: black;
border: 5px solid red;
padding: 10px;
width: 350px;
height: 40px;
position: relative;
left: 60%;
bottom: 130%;
}

.oval2{
border-radius: 50px;
background-color: black;
border: 5px solid red;
padding: 30px;
width: 260px;
height: 70px;
position: relative;
bottom: 260%;
left: 220%;

}

.circle{
  background-color: crimson;
  width: 300px;
  height: 290px;
  border-radius: 260px;
  border: 8px solid gray;
  position: relative;
  bottom: 20%;
  
  }
 
  .form{
    border: 5px dashed red;
    width: 280px;
    height: 560px;
    font-size: small;
    font-weight: bolder;
    text-align: center;
    position: relative;
    left: 35%;
    bottom: 55%;
  }
  p{
    color: white;
   }
.menu{
border-radius: 50px;
background-color: black;
border: 5px solid red;
padding: 10px;
width: 400px;
height: 40px;
text-align: center;
position: absolute;
left: 310px;
bottom: -320px;
}
b{
  color: white;
  font-size: X-large;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-flow: row wrap;
  position: relative;
  bottom: 50%;
  
}

.flex-container > div {
  background-color: orange;
  width: 270px;
  margin: 10px;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
  border-radius: 30%;
  border: 4px solid blue;
}
.txt{
  color: black;
  text-align: center;
  text-decoration: underline;
  position: absolute;
  top: 60px;
}
.form h2{
  color: red;
}
.form label{
  color: red;
  font-weight: 400;
  font-size: large;
}
.flex-container h1{
   color: crimson;
}

